<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article>
        <h1><%= @blog_post.title %></h1>
        <p><%= @blog_post.content %></p>

        <% if user_signed_in? %>
          <a href="<%= edit_blog_post_path %>" class="btn btn-primary">Edit Blog Post</a>
        <% end %>
      </article>
    </div>
  </div>
</div>